# pnpm設定
node-linker=hoisted
link-workspace-packages=true
resolution-mode=highest
hoist-pattern[]=*eslint*
hoist-pattern[]=*prettier*
hoist-pattern[]=*typescript*
auto-install-peers=true
strict-peer-dependencies=false
save-workspace-protocol=rolling
